footer{
    background-color: black;
    width: 100%;
}
hr{
    color: beige;
}
div{
    display: inline-block;
}
a, i,p{
    color: white;
    text-decoration: none;
}
i{
    padding-bottom: 15px;
}
img.logo{
    height: 60%;
    width: 9%;
}