html, body{
    height: 100%;
}

body{
    background: url("../img/index-background.png") center no-repeat;
    display: flex;
    flex-direction: column;
}
.content{
    flex-grow: 1;
}
.content p{
    text-align: center;
    color: black;
    align-self: center;
    margin: 0;
}
div{
    text-align: center;
}
.title1{
    color: #FD915A;
    margin-bottom: 1%;
    font-size: xx-large;
}
.logoBatons{
    width: 6%;
}
.batons{
    width: 100%;
}
.title2{
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
    top: 10px;
    color: black;
}
.subtitle{
    display: block;
    padding-left: 42px;
}
.presentation{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.img{
    display: flex; 
    gap: 25px;
}
img.bijou{
    width: 20%;
}
img.flyer{
    margin-left: 8%;
    width: 50%;     
}
.right-text{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 30.19%;
}
