html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: url("../img/index-background.png") center no-repeat;
}
.content{
    flex-grow: 1;
}
.content p{
    text-align: center;
    color: black;
    padding-left: 7%;
    margin: 0;
}
div{
    text-align: center;
}
.title1{
    color: #FD915A;
}
.batons{
    position: absolute;
    height: 32%;
    width: 22%;
    left: 38.5%;
    top: -5%;
}
.title2{
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
    position: absolute;
    top: -1px;
    font-size: larger;
    color: black;
}
.presentation{
    display: flex;
    height: 70%;
    gap: 5%;
}
img.bijou{
    height: 95%;
    width: 16%;
}
img.flyer{
    height: 100%;
    width: 60%; 
}
